<header class="cabecalho">
    <img src="logoconta.png" alt="Logo BB cabecalho" class="cabecalho__logo">
    <h1 class="cabecalho__conteudo">Olá, {{ nomeCorrentista }}</h1>
    <button class="cabecalho__conteudo__botao" (click)="sair()">
        <i class="pi pi-sign-out" style="font-size: 2rem;"></i>
        <span>Sair</span>
    </button>
</header>
<div class="container">
    <div class="saldo">
        <h2>Saldo da Conta</h2>
        <p>R$ 1.000,00</p>
        <button type="button" (click)="extrato()">Extrato</button>
    </div>
    <div class="caixa">
        <div class="operacoes">
            <h1 class="operacoes__titulo">Operações</h1>
            <button class="operacoes__botao" type="button" (click)="investir()">
                <img src="investir.png" alt="logo investimentos" class="logo__imagem" >
                Investir
            </button>
            <button class="operacoes__botao" type="button" (click)="pix()">
                <img src="pix.png" alt="logo pix" class="logo__imagem">
                Pix
            </button>
            <button class="operacoes__botao">
                <img src="logosaque.png" alt="logo pix" class="logo__imagem">
                Saque
            </button>
            <button class="operacoes__botao">
                <img src="consorcio.png" alt="logo pix" class="logo__imagem">
                Consorcio
            </button>
        </div>
    </div>
</div>
