<div class="loginPage">
  <div class="quadradoLogin">

    <p>Faça seu cadastro!</p>

    <div class="inputText">
      <input type="text" [(ngModel)]="dadosCadastrais.cpf" placeholder="CPF">
      <input type="text" [(ngModel)]="dadosCadastrais.nome" placeholder="Nome">
      <input type="password" [(ngModel)]="dadosCadastrais.senha" placeholder="Senha">
      <input type="text" [(ngModel)]="dadosCadastrais.chave" placeholder="Chave">

      <button  (click)="clickSalvar()" class="botaosave">Cadastrar</button>
    </div>
  </div>
</div>
