<div class=loginPage>
  <div class="quadradoLogin">
      <div class="imgLogo">
          <img width="250px" src="mazebankoflossantos.png" alt="logo1">
      </div>

      <p>Faça seu cadastro!</p>

      <Div class=inputText>
          <input pInputText type="text" [(ngModel)]="dadosCadastrais.cpf" placeholder="CNPJ/CPF">
          <input pInputText type="text" [(ngModel)]="dadosCadastrais.nome" placeholder="Nome">
          <input pInputText type="password" [(ngModel)]="dadosCadastrais.senha" placeholder="senha">
          <input pInputText type="text" [(ngModel)]="dadosCadastrais.chave" placeholder="Chave">


          <button pButton (click)="clickSalvar()">Cadastrar</button>
      </Div>
   </div>
</div>
