.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../../public/background.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
}

.quadradoLogin {
  width: 420px;
    background-color: transparent;
    border: 2px solid transparent;
    backdrop-filter: blur(20px);
    font-size: 36px;
    border-radius: 10px;
    padding: 30px;
    font-family: "Inter", sans-serif;
}


.quadradoLogin p {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}


.inputText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}



.inputText input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputText button {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: navy;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inputText button:hover {
  background-color: #0056b3;
  color: yellow;

}

