.container {
    position: fixed; /* Para garantir que ocupe a tela inteira */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../../../public/background.jpg') no-repeat center center;
    background-size: cover;
}

.titulo {
    color: #fff;
    text-align: center;
    margin-top: 50px; /* Espaçamento superior */
    font-size: 40px;
}

/* Contêiner para centralizar o formulário */
.form-container {
    display: flex;
    flex-direction: column; /* Coloca os elementos um abaixo do outro */
    align-items: center; /* Centraliza horizontalmente */
    margin: 50px auto; /* Centraliza verticalmente */
    width: 420px;
    background-color: transparent;
    border: 2px solid transparent;
    backdrop-filter: blur(20px);
    font-size: 36px;
    border-radius: 10px;
    padding: 30px;
    font-family: "Inter", sans-serif;
}

/* Estilo para os campos de input */
.campo__cadastro {
    width: 100%;
    margin: 10px 0; /* Espaçamento vertical entre os campos */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff; /* Define a cor da borda como branca */
    background-color: transparent; /* Fundo transparente */
    color: #fff; /* Cor do texto */
    border-radius: 10px; /* Bordas arredondadas */
    outline: none; /* Remove o outline ao focar */
}

/* Estilo para o botão */
.campo__cadastro__salvar {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: yellow; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    cursor: pointer;
}

/* Estilo para o botão */
.campo__cadastro__salvar {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 22px;
    background-color: blue; /* Cor de fundo */
    color: yellow; /* Cor do texto */
    border: none;
    cursor: pointer;

    /* Centralizando o texto dentro do botão */
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
    border-radius: 10px;
}

.campo__cadastro__salvar:hover {
    background-color: yellow;
    color: blue;
}

.campo__cadastro:hover,
.campo__cadastro:focus {
    border-color: darkblue; /* Muda a cor da borda ao passar o mouse ou focar */
}
